body{
    font-family: 'Shizuru', cursive;
}
h1{
    font-size: 80px ;
    text-align: center;
}
.flex-container{
    display: flex;
    background-color: darkblue;
}
.flex-container div{
    color: dodgerblue;
    background-color: darkkhaki;
    width: 200px ;
    margin: 10px ;
    text-align: center;
    line-height: 50px;
    font-size: 40px ;
    font-weight: 300;
}
