body{
    font-family: 'Shizuru', cursive;
}
h1{
    font-size: 80px ;
    text-align: center;
}
.flex-container{
    display: flex;
    background-color: white;
}
.flex-container div{
    color: dodgerblue;
    background-color: darkslateblue;
    width: 100% ;
    margin: 10px 10px 80px 10px;
    padding: 4px  ;
    text-align: center;
    line-height: 50px;
    font-size: 40px ;
    font-weight: 300;
}
.bangla-flex-container{
    display: flex;
    background-color: white;
}
.bangla-flex-container div{
    color: red;
    background-color: teal;
    width: 100% ;
    margin: 10px 10px 80px 10px ;
    padding: 3px  ;
    text-align: center;
    line-height: 40px ;
    font-size: 40px;
    font-weight: 300;
}
.favourite-book{
    display: flex;
    width: 40% ;
    margin: 10% ;
    padding: 10% ;

}
.pendulam{
    box-shadow: 10px 10px 5px gray;
}
.pilgrim{
    box-shadow: 10px 10px 5px gray;
}
#pendu-right-marg{
    margin-right: 20px ;
    padding-left: 20px ;
    border-left: 5px solid ;
    border-image: linear-gradient(gold, red);
    border-image-slice: 1;
}
#pil-left-marg{
    margin-left: 20px ;
    padding-left: 50px ;
    border-left: 5px solid ;
    border-image: linear-gradient(green, blue);
    border-image-slice: 2;
}